.code-emphasis-font .code-emphasis-mark,
.code-emphasis-font .code-emphasis-mark * {
  color: var(--code-emphasis-font-color, #ff0000) !important;
}
.code-emphasis-background .code-emphasis-mark {
  background-color: var(--code-emphasis-background-color, #ffff00);
}
.code-emphasis-mark {
  border-radius: 2px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
